.cache/
.eggs/
__pycache__/
wsl/
miros.egg-info/
miros/Include/
miros/Lib/
miros/Scripts/
miros/__pycache__/
miros/pip-selfcheck.json
miros/tcl/
doc/_build/
test/__pycache__/
prot/
tags
sequence_diagram.txt
trace.txt
fzf-history/*
setup.*
dist/*
*.un~
*.pyc
here/
#test/crypto_test.py
