/* -- Images ------------------------------------------------------------- */

.main-sidebar .logo {
  width: 225px;
  transition: width .2s;
}

@media (max-width: 1366px) {
  .main-sidebar .logo {
    width: 80%;
  }
}

@media (max-width: 1159px) {
  .main-sidebar .logo {
    width: 90%;
  }
}

@media (max-width: 959px) {
  .main-sidebar .logo {
    width: 95%;
  }
}

@media (max-width: 719px) {
  .sidebar-logo {
    display: none;
  }
}

/* -- Links -------------------------------------------------------------- */

.iteration-quick-links {
  margin-top: 1.25rem;
  padding-bottom: .5rem;
  border-bottom: solid 1px rgb(235,235,240);
}

.iteration-quick-links__label {
  font-weight: 400;
  padding-right: .3rem;
}
