img.logo_a {
  margin-bottom: 20px;
  margin-left:   -3px;
}

img.logo_b {
  margin-bottom: 20px;
  margin-left:   12px;
}
/*pre, code {
 font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
 font-size: 0.9em;
}
*/

pre {
    background: #eee;
    padding: 7px 30px;
    margin: 15px -30px;
    line-height: 1.3em;
}

a {
  color: #867e8b;
}
a.reference.external {
  /* color: #0d2fdb; */
  color: #866e8b;
}
a.reference.internal {
  /*color: #910f86;*/
  color: #004B6B;
}

div.align-center {
  padding: 25px 0;
}
div.body h1 {
   margin-top: 14px;
}

div.sphinxsidebarwrapper p.logo {
  padding: 0;
  margin: -10px 0 0 0px;
  text-align: left;
}

pre {
  padding: 20px 25px;
  margin: 25px -25px;
  border-radius: 6px;
}

.inactive-link {
  color: #b0b0b0;
}

blockquote.epigraph {
  font-size: 1.3em;
  /*color: rgb(130,130,130);*/
  color: #866e8b;
  margin: 25px 0;
}

p.attribution {
  font-size: 0.55em;
  color: #000;
  margin: -15px 25px 25px 25px;
  font-family: sans-serif;
}
div.body p, div.body dd, div.body li, div.body blockquote {
  font-family: san-serif;
  font-size: 15px;
  line-height: 1.6em;
}

body {
  font-family: san-serif;
}

p {
  /*font-family: serif*/
  /*line-height: 1.75rem;*/
  /*font-size: 1.8rem;*/
  /*color: #3A4145;*/
}
iframe {
  margin: 25px 0;
}

