img.logo_a {
  margin-bottom: 20px;
  margin-left:   -3px;
}

img.logo_b {
  margin-bottom: 20px;
  margin-left:   12px;
}
pre, code {
 font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
 font-size: 0.7em;
}
